<section class="Session Register">

  <header class="page-header login-header">
    <h1>Signup</h1>
  </header>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-1">
    <%= form_for :user, url: '/users' do |f| %>
          <div class="form-group">
            <p><%= f.label :name %></p>
            <%= f.text_field :name, class: 'form-control' %>
          </div>

          <div class="form-group">
            <p><%= f.label :email %></p>
            <%= f.text_field :email, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <p><%= f.label :password %></p>
            <%= f.text_field :password, class: 'form-control' %>
          </div>
          
          <div class="form-group">
            <p><%= f.label :password_confirmation %></p>
            <%= f.text_field :password_confirmation, class: 'form-control' %>
          </div>

        <%= f.submit "Submit", class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>

</section>